@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Playwrite+CU:wght@100..400&display=swap');
html, body {
  overflow-x: hidden;
}
.Page {
  width: 100pv;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
}

header {
  min-height: 5vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position:absolute;
  z-index: 2;
}

.MenuLeft {
  width: auto;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 0 0 70px 0;
  box-shadow: 2px 2px 20px rgb(73, 73, 73);
  padding: 0 50px 0 150px;

}
a{
  text-decoration:none;
  color: #464545;
  font-family: "Funnel Display", sans-serif;
  font-weight: bold;
  font-size: large;
  padding: 0 15px 0 5px;
}

.MenuLeft img {
  width: 100px;
}

.MenuRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  gap: 40px;
  margin-right: 50px;
}
.mainPage{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 15% 5% 15%;
}

footer{
  background-color: #000000;
  min-height: 10vh;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  margin-top: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
  bottom: 0;
  font-family: "Playwrite CU", cursive;
}
